<launch>
    <arg name="agent_type" default="frontier_explore" />
    <!-- <arg name="agent_type" default="frontier_explore" /> -->
    <!-- <arg name="test_scene" default="/media/junting/SSD_data/habitat_data/scene_datasets/mp3d/v1/scans/17DRP5sb8fy/17DRP5sb8fy.glb" /> -->
    <arg name="test_scene" default="/media/junting/SSD_data/habitat_data/scene_datasets/gibson/Collierville.glb" />
    <!-- <arg name="test_scene" default="/home/junting/Downloads/datasets/habitat_data/scene_datasets/mp3d/v1/scans/17DRP5sb8fy/17DRP5sb8fy.glb" /> -->
    <arg name="camera_calib" default="$(find habitat_ros)/scripts/envs/habitat/configs/camera_info.yaml" />
    <arg name="habitat_update_rate" default="2.0" />

    <node pkg="habitat_ros" type="main.py" name="habitat_agent" output="screen">
        <!-- <param name="task_config" value="$(find habitat_ros)/scripts/envs/habitat/configs/challenge_objectnav2021.local.rgbd.yaml" /> -->
        <param name="agent_type" value="$(arg agent_type)" />
        <param name="test_scene" value="$(arg test_scene)" />
        <param name="camera_calib" value="$(arg camera_calib)" />
        <param name="rate" type="double" value="$(arg habitat_update_rate)" />

        <!-- topics  -->
        <param name="rgb_topic" value="/camera/rgb/image" />
        <param name="depth_topic" value="/camera/depth/image" />
        <param name="semantic_topic" value="/camera/semantic/image" />
        <param name="camera_info_topic" value="/camera/rgb/camera_info" />
        <!-- <param name="true_pose_topic" value="/camera/true_pose"/> -->
        <param name="cloud_topic" value="/rtabmap/cloud_map" />
        <!-- topics for local policy generation -->
        <param name="odom_topic" value="/odom" />
        <param name="grid_map_topic" value="/rtabmap/grid_map" />

    </node>
</launch>