<launch>
    <arg name="ground_truth_odom" default="true" />
    <arg name="ground_truth_odom_topic" default="/true_odom" />
    <arg name="agent_update_rate" default="2.0" />
    <arg name="grid_global_min_size" default="10.0" />

    <include file="$(find habitat_ros)/launch/rtabmap.launch">
        <arg name="namespace" value="rtabsem" />
        <arg name="args" value="--delete_db_on_start" />
        <!-- frame_id: The frame attached to odometry. If empty, rtabmap will 
            subscribe to odom topic to get odometry. If set, odometry is got 
            from tf (in this case, the covariance value is fixed by 
            odom_tf_angular_variance and odom_tf_linear_variance).-->
        <arg name="frame_id" value="base_link" />
        <arg name="visual_odometry" value="false" />
        <arg name="wait_for_transform" value="5.0" />
        <arg name="rviz" value="false" />
        <arg name="rtabmapviz" value="false" />
        <arg name="approx_sync" value="false" />
        <arg name="approx_rgbd_sync" value="false" />
        <arg name="grid_global_min_size" value="$(arg grid_global_min_size)" />

        <!-- topics  -->
        <!-- input -->
        <arg name="rgb_topic" value="/camera/semantic/image" />
        <arg name="depth_topic" value="/camera/depth/image" />
        <!-- <arg name="rgb_topic" value="/camera/rgb/image" /> -->
        <arg name="camera_info_topic" value="/camera/rgb/camera_info" />
        <!-- <arg name="scan_topic" value="/scan" /> -->
        <arg unless="$(arg ground_truth_odom)" name="odom_topic" value="/odom" />
        <arg if="$(arg ground_truth_odom)" name="odom_topic" value="$(arg ground_truth_odom_topic)" />
        <!-- output -->

        <!-- map parameters-->
        <!-- visual odometry costs large part of the computation -->
        <arg unless="$(arg ground_truth_odom)" name="rtabmap_detection_rate" value="2" />
        <arg if="$(arg ground_truth_odom)" name="rtabmap_detection_rate" value="$(arg agent_update_rate)" />

        <arg name="grid_3d" value="true" />
        <arg name="grid_ray_tracing" value="true" />
        <arg name="grid_cell_size" value="0.05" />
        <arg name="grid_depth_decimation" value="4" />
        <!-- by default predict ground from point normals-->
        <!-- <arg name="grid_normals_segmentation" value="$(arg grid_normals_segmentation)" /> -->
        <!-- disabled when grid_normals_segmentation is true -->
        <!-- <arg name="grid_max_ground_height" value="0.40" /> -->
        <!-- disabled when grid_normals_segmentation is true -->
        <!-- <arg name="grid_min_ground_height" value="-0.20" /> -->

        <arg name="grid_cluster_radius" value="0.2" /> <!-- [[Grid/NormalsSegmentation=true] Cluster maximum radius.] -->
        <arg name="grid_noise_filtering_min_neighbors" value="5" /> <!-- [Noise filtering minimum neighbors.] -->
        <arg name="grid_noise_filtering_radius" value="0.5" /> <!-- [Noise filtering radius (0=disabled). Done after segmentation.] -->

        <arg name="rgbd_optimize_from_graph_end" value="false" />
        <!-- interface with move_base -->
        <!-- <arg name="use_action_for_goal" value="true" /> -->
        <!-- <arg name="map_topic" value="/map" /> -->
        <!-- <arg name="move_base_topic" value="/move_base" /> -->

    </include>
</launch>