<launch>

    <!-- habitat agent & habitat simulator -->
    <include file="$(find habitat_ros)/launch/habitat_agent.launch">
        <arg name="agent_type" value="frontier_explore"/>
        <arg name="test_scene" value="/media/junting/SSD_data/habitat_data/scene_datasets/mp3d/v1/scans/17DRP5sb8fy/17DRP5sb8fy.glb"/>
    </include>

    <!-- rtabmap -->
    <include file="$(find habitat_ros)/launch/rtabmap.launch">
        
        <arg name="rtabmap_args" value="--delete_db_on_start"/>
        <!-- <arg name="ground_truth_frame_id" value="world"/> -->
        <arg name="frame_id" value="base_link"/>
        <arg name="wait_for_transform" value="0.5"/>
        <arg name="rviz" value="false"/>
        <arg name="rtabmapviz" value="false"/>
        <arg name="approx_sync" value="false"/>
        <arg name="approx_rgbd_sync" value="false"/>

        <!-- topics  -->
        <!-- input -->
        <arg name="depth_topic" value="/camera/depth/image"/>
        <arg name="rgb_topic" value="/camera/rgb/image"/>
        <arg name="camera_info_topic" value="/camera/rgb/camera_info"/>
        <arg name="scan_topic" value="/scan" />
        <arg name="odom_topic" value="/odom" />
        <!-- output -->


        <!-- custom arguments -->
        <arg name="grid_cellsize" value="0.015"/>
        <arg name="grid_depthdecimation" value="1"/> 
        <!-- interface with move_base -->
        <arg name="use_action_for_goal" value="true" />
        <arg name="map_topic" value="/map" />
        <arg name="move_base_topic" value="/move_base" />

    </include>
    
    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find habitat_ros)/rviz/rgbd.rviz"/> -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find turtlebot3_navigation)/rviz/turtlebot3_navigation.rviz"/>
    <!-- move_base -->
    <include file="$(find turtlebot3_navigation)/launch/move_base.launch">
        <arg name="odom_topic" value="/odom" />
        <arg name="model" value="waffle" />
        <arg name="move_forward_only" value="true" />
        <!-- topics -->
        <!-- <remap from="/rtabmap/grid_map" to="/map" /> -->
    </include>

    <!-- run m-explore for frontier-based exploration -->
    <include file="$(find habitat_ros)/launch/explore_lite.launch"/>

</launch>