<launch>

    <arg name="wheel_odom" default="true"/>
    <arg name="grid_global_min_size" default="10.0"/>
    <!-- habitat agent & habitat simulator -->
    <!-- <include file="$(find habitat_ros)/launch/habitat_agent.launch">
        <arg name="agent_type" value="frontier_explore" />
        <arg name="test_scene" value="/media/junting/SSD_data/habitat_data/scene_datasets/mp3d/v1/scans/17DRP5sb8fy/17DRP5sb8fy.glb" /> -->
    <!-- <arg name="test_scene" value="/home/junting/Downloads/datasets/habitat_data/scene_datasets/mp3d/v1/scans/17DRP5sb8fy/17DRP5sb8fy.glb" /> -->
    <!-- <arg name="habitat_update_rate" value="2.0" />
    </include> -->
    
    <!-- rtabmap -->
    <include file="$(find habitat_ros)/launch/rtabmap.launch">

        <arg name="rtabmap_args" value="--delete_db_on_start" />
        <!-- <arg name="ground_truth_frame_id" value="world"/> -->
        <arg name="frame_id" value="base_link" />
        <arg name="wait_for_transform" value="5.0" />
        <arg name="rviz" value="false" />
        <arg name="rtabmapviz" value="false" />
        <arg name="approx_sync" value="false" />
        <arg name="grid_global_min_size" value="$(arg grid_global_min_size)"/>
        <!-- topics  -->
        <!-- input -->
        <arg name="rgb_topic" value="/camera/rgb/image" />
        <arg name="depth_topic" value="/camera/depth/image" />
        <!-- <arg name="rgb_topic" value="/camera/semantic/image" /> -->
        <arg name="camera_info_topic" value="/camera/rgb/camera_info" />
        <arg name="scan_topic" value="/scan" />
        <arg name="odom_topic" value="/odom" />
        <!-- output -->
        <!-- custom arguments -->
        <arg name="wheel_odom" value="$(arg wheel_odom)"/>
        
        <!-- map parameters-->
        <arg name="grid_3d" value="true" />
        <arg name="grid_ray_tracing" value="true" />
        <arg name="grid_cell_size" value="0.05" />
        <arg name="grid_depth_decimation" value="4" />
        <arg name="grid_normals_segmentation" value="true" /> <!-- by default predict ground from point normals-->
        <!-- <arg name="grid_max_ground_height" value="0.05"/> -->
        <!-- used function when grid_normals_segmentation is false -->
        <!-- <arg name="grid_min_ground_height" value="-0.01"/> -->
        <!-- used function when grid_normals_segmentation is false -->
        <arg name="grid_cluster_radius" value="0.2" /> <!-- [[Grid/NormalsSegmentation=true] Cluster maximum radius.] -->
        <arg name="grid_noise_filtering_min_neighbors" value="5" /> <!-- [Noise filtering minimum neighbors.] -->
        <arg name="grid_noise_filtering_radius" value="0.5" /> <!-- [Noise filtering radius (0=disabled). Done after segmentation.] -->


        <!-- interface with move_base -->
        <!-- <arg name="use_action_for_goal" value="true" /> -->
        <!-- <arg name="map_topic" value="/map" /> -->
        <!-- <arg name="move_base_topic" value="/move_base" /> -->

    </include>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find habitat_ros)/rviz/rgbd.rviz" />
    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find turtlebot3_navigation)/rviz/turtlebot3_navigation.rviz"/> -->

</launch>